.home_container {
  background-color: white;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 910px;
  position: absolute;
}

.title {
  color: #000;
  font-weight: 600;
  padding-top: 2em;
  font-size: 1.6em;
  width: 100%;
  text-align: center;
}

.cont {
  margin-top: 2em;
  text-align: center;
}

.filters_container {
  font-size: 0;
  text-align: center;
  margin: 40px;
}

.filter_element {
  width: 23%;
  height: 4em;

  display: inline-block;
  font-size: medium;
  text-align: center;
  margin: 1em;
  vertical-align: middle;
  line-height: 60px;
  border-radius: 0.4em;
  font-weight: 700;
  color: whitesmoke;
}
.filter_element:hover {
  cursor: pointer;
}

.filter_element.yellow {
  background: linear-gradient(
      rgba(218, 176, 8, 0.5) 100%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlM45KDD6bQ7uZdPmIo9ptIspxcKcZ4kcuaA&usqp=CAU");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.filter_element.red {
  background: linear-gradient(
      rgba(182, 48, 48, 0.5) 100%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlM45KDD6bQ7uZdPmIo9ptIspxcKcZ4kcuaA&usqp=CAU");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.filter_element.green {
  background: linear-gradient(
      rgba(25, 141, 100, 0.5) 100%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlM45KDD6bQ7uZdPmIo9ptIspxcKcZ4kcuaA&usqp=CAU");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.filter_element.blue {
  background: linear-gradient(
      rgba(61, 148, 199, 0.5) 100%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlM45KDD6bQ7uZdPmIo9ptIspxcKcZ4kcuaA&usqp=CAU");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.filter_element.brown {
  background: linear-gradient(
      rgba(42, 4, 1, 0.788) 100%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlM45KDD6bQ7uZdPmIo9ptIspxcKcZ4kcuaA&usqp=CAU");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.filter_element.purple {
  background: linear-gradient(
      rgba(36, 10, 36, 0.788) 100%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlM45KDD6bQ7uZdPmIo9ptIspxcKcZ4kcuaA&usqp=CAU");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

@media screen and (max-width: 760px) {
  .filters_container {
    font-size: 0;
    text-align: center;
    margin: 40px;
  }

  .filter_element {
    width: 32%;
    height: 4em;
    margin: 20px;
    display: inline-block;
    font-size: medium;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    border-radius: 0.4em;
    font-weight: 700;
  }
}

.filter_pokemon {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

li {
  list-style-type: none;
}

.pokemon_name_result {
  font-weight: 600;
  font-size: 4.3em;
}
