.home_container {
  background-color: white;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 910px;
  position: absolute;
  border-radius: 0em 0em 2em 2em;
}

.title {
  color: #000;
  font-weight: 600;
  padding-top: 2em;
  font-size: 1.6em;
  width: 100%;
  text-align: center;
}

.cont {
  margin-top: 2em;
  text-align: center;
}

.filters_container {
  font-size: 0;
  text-align: center;
  border-radius: 0px 0px 15px 15px;
}

.filter_element {
  width: 23%;
  height: 4em;

  display: inline-block;
  font-size: medium;
  text-align: center;
  margin: 1em;
  vertical-align: middle;
  line-height: 60px;
  border-radius: 0.4em;
  font-weight: 700;
  color: whitesmoke;
}
.filter_element:hover {
  cursor: pointer;
}

.filter_element.yellow {
  background: linear-gradient(
      rgba(218, 176, 8, 0.5) 100%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlM45KDD6bQ7uZdPmIo9ptIspxcKcZ4kcuaA&usqp=CAU");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.filter_element.red {
  background: linear-gradient(
      rgba(182, 48, 48, 0.5) 100%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlM45KDD6bQ7uZdPmIo9ptIspxcKcZ4kcuaA&usqp=CAU");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.filter_element.green {
  background: linear-gradient(
      rgba(25, 141, 100, 0.5) 100%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlM45KDD6bQ7uZdPmIo9ptIspxcKcZ4kcuaA&usqp=CAU");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.filter_element.blue {
  background: linear-gradient(
      rgba(61, 148, 199, 0.5) 100%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlM45KDD6bQ7uZdPmIo9ptIspxcKcZ4kcuaA&usqp=CAU");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.filter_element.brown {
  background: linear-gradient(
      rgba(42, 4, 1, 0.788) 100%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlM45KDD6bQ7uZdPmIo9ptIspxcKcZ4kcuaA&usqp=CAU");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.filter_element.purple {
  background: linear-gradient(
      rgba(36, 10, 36, 0.788) 100%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlM45KDD6bQ7uZdPmIo9ptIspxcKcZ4kcuaA&usqp=CAU");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

@media screen and (max-width: 760px) {
  .filters_container {
    font-size: 0;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
  }

  .filter_element {
    width: 32%;
    height: 4em;
    margin: 20px;
    display: inline-block;
    font-size: medium;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    border-radius: 0.4em;
    font-weight: 700;
  }
}

.filter_pokemon {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  border-radius: 1em;
}

li {
  list-style-type: none;
}

.pokemon_name_result {
  font-weight: 600;
  font-size: 3.4em;
  margin: 0.2em;
}

.pokemon_name_result:hover {
  color: whitesmoke;
  cursor: pointer;
  border: solid rgb(15, 15, 14) 2px;
  background-color: rgba(25, 141, 100, 0.5);
  border-radius: 1em;
  padding: 0.5rem;
}

.pokemon_news_container {
  background-color: rgb(233, 229, 229);
  border-radius: 1em;
  height: 32em;
}

.pokemon_news_header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2em;
}

.Pokemon_news {
  font-weight: 800;
  font-size: 2em;
  margin-top: 1em;
}

.Pokemon_viewall {
  font-weight: 500;
  font-size: 1.6em;
  margin-top: 2em;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: black !important;
}

.article_image {
  width: 14em;
  height: auto;
  border-radius: 1em;
}

.card_container {
  display: flex;
  flex-direction: row;
}

.title_news {
  font-weight: 700;
  font-size: 1em;
  margin-bottom: 0.2em;
  margin-right: 12em;
  width: 16em;
}

.article_content {
  font-size: 1.2em;
  overflow: hidden;
  line-height: 1rem;
  max-height: 8rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  width: 20em;
}

.image_container {
  margin-left: 1em;
}

@media only screen and (max-width: 900px) {
  .card_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .article_image {
    width: 8em;
    height: auto;
    border-radius: 1em;
  }
  .title_news {
    width: 10em;
    margin-right: 6em;
  }

  .Pokemon_viewall {
    margin-top: 1.4em;
  }
}

.news_card_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article_date {
  color: red;
}
