.SearchBar_container {
  margin-top: 2em;
  text-align: center;
}

input {
  border-radius: 2em;
  height: 2.9em;
  padding: 1em;
  width: 28%;
  background-color: rgb(234, 229, 229);
}

::placeholder {
  color: black;
  font-weight: 700;
}

@media screen and (max-width: 960px) {
  input {
    width: 30%;
  }
}
