.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
  width: 100%;
  background-color: rgb(126, 216, 194);
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.details_container {
  margin: 0em 6em 2em 6em;
}

.height_weight_container {
  text-align: center;
  margin-top: 2em;
  background-color: rgb(247, 243, 243);
  border-radius: 0.3em;
  height: 5em;
  padding-left: 2em;
  padding-right: 2em;

  padding-top: 0.4em;
  display: flex;
  flex-direction: row;
  width: 20em;
}

.height {
  margin-right: 1em;
}

.breeding_header {
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.7em;
}

.egg-group,
.egg-cycle,
.gender_container {
  display: flex;
  flex-direction: row;
}

.egg-group_header,
.egg-cycle_header,
.gender_header {
  margin-right: 2em;
  color: rgb(196, 194, 194);
}

.egg-group_text,
.egg-cycle_text,
.gender_value {
  font-weight: 700;
}

.btn {
  margin-bottom: 0.8em;
}

@media screen and (max-width: 760px) {
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
  }
}

.name {
  text-align: left;
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 0.2em;
}

.pokemon_image {
  height: 14em;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
}

.tabs {
  background-color: white;
  width: 100%;
  padding: 6px;

  border-radius: 1em 1em 0em 0em;
  height: 25em;
}

svg.female {
  font-size: 1.4em;
  color: rgb(255, 0, 251);
}

svg.male {
  font-size: 1.4em;
  color: rgb(0, 191, 255);
}

.evolution_header {
  font-weight: 800;
  font-size: 1.4em;
  text-align: left;
}

.evo_image_container {
  text-align: right;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlM45KDD6bQ7uZdPmIo9ptIspxcKcZ4kcuaA&usqp=CAU");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  height: 9em;
  width: 6em;
  margin-right: 1em;
}

.evo_image_container img {
  height: 5.3em;
  margin-top: 1.6em;
}

.evolution_top {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid rgb(170, 169, 169);
}
.arrow {
  margin: 3em;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
}

.evolution_level {
  text-align: center;
  font-weight: 700;
}

.heart {
  line-height: 1;
  font-size: 1.4em;
}

.heart .filledheart {
  color: red !important;
}
