* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background-repeat: no-repeat;
  background-size: cover;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 70px;
  margin-right: 2em;
}

.container {
  z-index: 1;
  width: 100%;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.navbar-icon {
  margin-right: 0.5rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: flex-end;
}

.nav-item {
  height: 80px;
  border-bottom: 2px solid transparent;
}

.nav-links {
  color: #000;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  font-weight: 800;
}

.nav-links:hover {
  color: #0473f2;
}

/* .activated {
    color: #0473f2;
  } */

.fa-bars {
  color: #000;
}

.menu-icon {
}

@media screen and (max-width: 760px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    width: 100%;
  }

  .nav-menu.active {
    background: whitesmoke;
    left: 0;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 1;
    flex-direction: column;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    color: black;
  }

  .nav-links:hover {
    color: aquamarine;
    transform: scale(1.2);
    transition: all 0.3s ease;
  }

  .nav-item:hover {
    border: none;
  }

  .nav-item {
    width: 100%;
  }

  .menu-icon {
    top: 0;
    right: 0;

    font-size: 1.8rem;
    cursor: pointer;
  }
  .arrow-back svg {
    color: #000 !important;
    font-size: 1.8rem;
  }
  /* .navbar {
    background-color: rgb(184, 230, 224);
  } */
}

.arrow-back svg {
  color: #000 !important;
  font-size: 1.8rem;
}

.menu-icon svg {
  color: #000 !important;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 1em;
  width: 100%;
}

.pokemon_logo {
  height: 4em;
  display: flex;
  position: fixed;
}

.menu-icon {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(-100%, 60%);
  font-size: 1.8rem;
  cursor: pointer;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlM45KDD6bQ7uZdPmIo9ptIspxcKcZ4kcuaA&usqp=CAU");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.menu_icon_container {
  height: 20em;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 80px;
  left: -100%;
  opacity: 1;
  transition: all 0.5s ease;
  width: 100%;
}

.nav-menu.active {
  background: whitesmoke;
  left: 0;
  opacity: 1;
  transition: all 0.3s ease;
  z-index: 1;
  flex-direction: column;
}
